@using CBAMONLINE.Infrastructure.Constants;
@using CBAMONLINE.Models.UserProfile;
@using CookieManager
@inject ICookieManager _cookieManager
@{
    MyCookie<UserProfile> userCookieObj = _cookieManager.Get<MyCookie<UserProfile>>(CookieConstants.USER_COOKIE);

    UserProfile user = new UserProfile();
    if (userCookieObj != null)
    {
        user = userCookieObj.Value;
    }

    var avatar = string.IsNullOrEmpty(user.avatar) ? "/images/user-img.png" : user.avatar;
}

<div class="p-4 box-shadow-2 br-radius-8 bg-white">
    <p class="fs-20 mb-4">Tài khoản</p>
    <form method="post" autocomplete="off" id="updateProfileForm" onsubmit="return false;" enctype="multipart/form-data">
        <div class="d-flex align-items-center mb-abs-32">
            <div class="avatar">
                <img id="avatar-image" src="@avatar" alt="user-img" />
                <input onchange="previewFile(this);" accept="image/*" type="file" class="d-none" id="avatar-file">

            </div>
            <div class="ms-3">
                <button type="button" onclick="chooseImage()" class="btn btn-primary btn-sm">
                   Chọn ảnh
                </button>
                <p id="avatar-file-name" class="mt-3"></p>
                <p class="mt-3">Allowed JPG, GIF or PNG. Max size of 800K</p>
            </div>
        </div>
        <div class="row mb-abs-32">
            <div class="col-sm-6 mb-4">
                <label class="form-label" for="userName">Tài khoản đăng nhập</label>
                <input type="text" class="form-control" readonly placeholder="Tài khoản đăng nhập" tabindex="1"
                       id="userName" name="userName" value="@user.userName">
            </div>
            <div class="col-sm-6 mb-4 form-group-item">
                <label for="email" class="form-label">Email người dùng <partial name="_RequiredField" /> </label>
                <input required type="email" autocomplete="off" class="form-control" placeholder="Nhập email" tabindex="2"
                       id="email" name="email" value="@user.email">
            </div>
            <div class="col-sm-6 mb-4 form-group-item">
                <label class="form-label" for="lastName">Họ <partial name="_RequiredField" /></label>
                <input required type="text" class="form-control" placeholder="Nhập họ" tabindex="3" id="lastName" name="lastName"
                       value="@user.lastName">
            </div>
            <div class="col-sm-6 mb-4 form-group-item">
                <label class="form-label" for="firstName">Tên <partial name="_RequiredField" /></label>
                <input required type="text" class="form-control" placeholder="Nhập tên" tabindex="4" id="firstName"
                       name="firstName" value="@user.firstName">
            </div>
            <div class="col-sm-6 mb-4 form-group-item">
                <label for="phone" class="form-label">Điện thoại <partial name="_RequiredField" /></label>
                <input required maxlength="10" type="text" autocomplete="off" placeholder="Nhập số điện thoại" class="form-control field-number" tabindex="5"
                       id="phone" name="phone" value="@user.phone">
            </div>
            <div class="col-sm-6 mb-4 form-group-item">
                <label for="birthDate" class="form-label">Ngày tháng năm sinh <partial name="_RequiredField" /></label>
                <input required type="text"  autocomplete="off" class="form-control datepicker"
                       tabindex="6" id="birthDate" value="@user.dob" name="birthDate">
            </div>
            <div class="col-sm-6 form-group-item">
                <label for="address" class="form-label">Địa chỉ <partial name="_RequiredField" /></label>
                <input required type="text" autocomplete="off" placeholder="Nhập địa chỉ" class="form-control" tabindex="7"
                       id="address" name="address" value="@user.address">
            </div>
            <div class="col-sm-6">
                <label class="form-label d-block">Giới tính <partial name="_RequiredField" /></label>
                <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="gender" checked id="male" value="Nam">
                    <label class="form-check-label" for="male">Nam</label>
                </div>
                <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="gender" id="female" value="Nữ">
                    <label class="form-check-label" for="female">Nữ</label>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <button type="button" onclick="updateProfile()" class="btn btn-primary btn-sm me-2">
                Thay đổi
            </button>
        </div>
    </form>
</div>
